<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'author'}}About the Author{{/link-to}}</li>
    </ul>
  </nav>
  <h1>Dracula's Blog</h1>

  <ul>
    <li>Post 1</li>
    <li>Post 2</li>
    <li>Post 3</li>
  </ul>
</div>
